#countLabel{
    display: block;
    text-align: center;
    font-size: 150px;
    font-family: arial narrow bold;
}

#btnContainer{
     text-align: center;
}

.buttons{
    padding: 15px 40px;
    font-size: 20px;
    color: white;
    background-color: rgb(94, 94, 225);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.23s;
}

.buttons:hover{
    background-color: rgb(193, 193, 250);
}